.jumbotron.well.text-center 
  .row
    .alert.alert-info
      .h3
        .strong Already Logged In! 
        .cite a(href="?page=logout") Logout
      .strong Click on the My Account link above to navigate to your account.  
