
<div class="row xepan-push">
  <div class="col-md-6">{$title}</div>
  <div class="col-md-1">	</div>
  <div class="col-md-5">Communication Type: {$type}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-12">{$body}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-4"><span>Notify Via Email:</span><span class="checkbox-nice">{$notifymail}</span></div>
  <div class="col-md-4">{$mails}</div>
  <div class="col-md-2">{$ccmails}</div>
  <div class="col-md-2">{$bccmails}	</div>
</div>
<div class="row xepan-push">		
  <div class="col-md-4"><span>Notify Via Sms:	</span><span class="checkbox-nice">{$notifysms}</span></div>
  <div class="col-md-8">{$phno}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-6">From Email-Id: {$fromemail}</div>
  <div class="col-md-6">{$FormButtons}					</div>
</div>