
<div class="row xepan-push">
  <div class="col-md-6">{$title}</div>
  <div class="col-md-1">	</div>
  <div class="col-md-5">Communication Type: {$type}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-12">{$body}</div>
</div>
<div class="row xepan-push div atk-form-row">
  <div class="col-md-4">{$email_to}</div>
  <div class="col-md-4">{$cc_mails}</div>
  <div class="col-md-4">{$bcc_mails}	</div>
</div>
<div class="row xepan-push div atk-form-row">
  <div class="col-md-6">From Email-Id: {$from_email}</div>
</div>
<div class="row xepan-push div atk-form-row">
  <div class="col-md-4">From Number: {$from_phone}</div>
  <div class="col-md-4">To: {$called_to}</div>
  <div class="col-md-4">
    	 
    Employee: {$from_person}
  </div>
</div>
<div class="row xepan-push div atk-form-row">
  <div class="col-md-4">From Number: {$from_number}</div>
  <div class="col-md-4">To: {$sms_to}</div>
  <div class="col-md-4">										</div>
</div>
<div class="row xepan-push">
  <div class="col-md-6">{$FormButtons}									</div>
</div>