.row.xepan-push
	.col-md-6
		{$title}
	.col-md-1 	
	.col-md-5
		|Communication Type: {$type}
.row.xepan-push
	.col-md-12
		{$body}
.row.xepan-push.div.atk-form-row
	.col-md-4
		{$email_to}
	.col-md-4
		{$cc_mails}
	.col-md-4
		{$bcc_mails}	
.row.xepan-push.div.atk-form-row
	.col-md-6
		|From Email-Id: {$from_email}
.row.xepan-push.div.atk-form-row
	.col-md-4
		|From Number: {$from_phone}
	.col-md-4
		|To: {$called_to}
	.col-md-4	 
		|Employee: {$from_person}
.row.xepan-push.div.atk-form-row
	.col-md-4
		|From Number: {$from_number}
	.col-md-4
		|To: {$sms_to}
	.col-md-4										
.row.xepan-push
	.col-md-6
		{$FormButtons}									
