.row.xepan-push
	.col-md-6
		{$title}
	.col-md-1 	
	.col-md-5
		|Communication Type: {$type}
.row.xepan-push
	.col-md-12
		{$body}
.row.xepan-push
	.col-md-4
		span Notify Via Email:
		span.checkbox-nice {$notifymail}
	.col-md-4
		{$mails}
	.col-md-2
		{$ccmails}
	.col-md-2
		{$bccmails}	
.row.xepan-push		
	.col-md-4
		span Notify Via Sms:	
		span.checkbox-nice {$notifysms}
	.col-md-8
		{$phno}
.row.xepan-push
	.col-md-6
		|From Email-Id: {$fromemail}
	.col-md-6
		{$FormButtons}					