#user-profile.xepan-contact-profile
  .main-box.clearfix
    header.main-box-header.clearfix
      h2 {first_name}First Name{/} 
      h2 {last_name}Last Name{/} 
    .main-box-body.clearfix
      .profile-status
        i.fa.fa-circle
        |  Online
      img.profile-img.img-responsive.center-block(alt='', src='{image}img/samples/scarlet-159.png{/}')
      .profile-label
        span.label.label-danger {type}Admin{/}
      .profile-since
        | Contact since: {created_at}Jan 2012{/}
      <hr/>
      h2 Emails
      .profile-details
        {Emails}
        {rows}{row}
        {$header}
        {/}{/}
        {not_found_message}{/}
        {/}
      h2 Phones
      .profile-details
        {Phones}
        {/}
      .profile-message-btn.center-block.text-center
        .btn-group.btn-group-sm(role="group")
          button.btn.btn-primary(type="button" title="send email")
            i.fa.fa-envelope
            |&nbsp;Email
          button.btn.btn-success(type="button" title="send message")
            i.fa.fa-phone
            |&nbsp;SMS
      .profile-details
        .form-group
          label Organization
          div
            span(title="organization")
              i.fa.fa-building.fa-lg &nbsp;
            |{organization}organization{/}
        .form-group
          label Post
          div
            span(title="post")
              i.fa.fa-user.fa-lg &nbsp;
            |{post}post{/}
        .form-group
          label Website
          div
            span(title="website")
              i.fa.fa-globe.fa-lg &nbsp;
            |{website}website{/}
        .form-group
          label Address
          div
            span(title="address")
              i.fa.fa-map-marker.fa-lg &nbsp;
              |{address}address{/}<br/>city: {city}not found{/}<br/>state: {state}not found{/}<br/>country: {country}not found{/}<br/>pin code: {pin_code}not found{/}
      h2 IM Numbers
      .profile-details 
        {IMs}
        div
          span(title="Skype")
            i.fa.fa-skype &nbsp;
              a(href="wwww.xavoc.com" target="_blank") rksinha.btech 
        div
          span(title="Whatsup")
            i.fa.fa-whatsapp.fa-phone &nbsp;
              a(href="9090909090" target="_blank") 8989787656 
        
        {/}
      h2 Events
      .profile-details 
        {Events}
        div
          span(title="DOB")
            i.fa.fa-wish &nbsp;
          |DOB:  225-July-1991         
        {/}
      h2 Relationship
      .profile-details 
        {Relations}
        div
          span(title="Father")
            i.fa.fa-skype &nbsp;
          | Father
        {/}