.ui.special.cards(id='{$_name}')
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            .ui.inverted.button Change Image      
      img(src="/images/avatar/large/elliot.jpg" onerror='this.src="./vendor/xepan/base/templates/images/avtar-default.png"') 
    .content 
      .ui.field
        {$first_name} 
      .ui.field
        {$last_name}
    .extra.content
      .ui.raised.segment
        .ui.green.ribbon.label {contact_type_wrapper}{$type}{/}
        .right-floated
          {contact_since_wrapper}
          |Since {$callback_date}
          {/}

.ui.container.raised.segment.main.box
  {$organization}
  {$website}
.ui.container.raised.segment.main.box
  {email_and_phone}
  .label Emails
  .profile-details
    {Emails}
    {rows}{row}
    {$header}
    {/}{/}
    {not_found_message}{/}
    {/}
  {send_email_sms_wrapper}
  .profile-message-btn.center-block.text-center
    .btn-group.btn-group-sm(role="group")
      button.btn.btn-primary.do-contact-email(type="button" title="send email")
        i.fa.fa-envelope
        |&nbsp;Email
  {/}
.ui.container.raised.segment.main.box
  .label Contact 
  .profile-details
    {Phones}
    {/}
  {/}

.ui.container.raised.segment.main.box
  |{address}not found{/}<br/>
  div.atk-form-row {$country}{country_id}not found{/}<br/>
  div.atk-form-row {$state}{state_id}not found{/}<br/>
  div {city}not found{/}<br/>
  div {pin_code}not found{/}
.ui.container.raised.segment.main.box
  {im_and_events_andrelation}
  {$IMs} 
  {/}
.ui.container.raised.segment.main.box
  {Events}
  {/}
.ui.container.raised.segment.main.box
  {Relations}
  {/}
{/}

{$FormButtons}