
<div id="{$_name}" class="xepan-contact-profile">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">{action}{/}
      <h2>{first_name}First Name{/} </h2>
      <h2>{last_name}Last Name{/} </h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="profile-status"><i class="fa fa-circle"></i> Online</div>{avatar}<img alt="" src="" class="profile-img img-responsive center-block"/>{/}
      <div class="profile-label"><span class="label label-danger">{type}{/}</span></div>
      <div class="profile-since">Contact since: {created_at}{/}</div><hr/>
      <h2>Emails</h2>
      <div class="profile-details">
        {Emails}
        {rows}{row}
        {$header}
        {/}{/}
        {not_found_message}{/}
        {/}
      </div>
      <h2>Phones</h2>
      <div class="profile-details">
        {Phones}
        {/}
      </div>
      <div class="profile-message-btn center-block text-center">
        <div role="group" class="btn-group btn-group-sm">
          <button type="button" title="send email" class="btn btn-primary"><i class="fa fa-envelope"></i>&nbsp;Email</button>
          <button type="button" title="send message" class="btn btn-primary"><i class="fa fa-phone"></i>&nbsp;SMS</button>
        </div>
      </div>
      <div class="row xepan-push"></div>
      <div class="row">     </div>
      <div class="profile-details">
        <div class="form-group"><span title="organization"><i class="fa fa-building fa-lg">&nbsp;</i>
            <label>Organization</label>{organization}-{/}</span></div>
        <div class="form-group"><span title="post"><i class="fa fa-user fa-lg">&nbsp;</i>
            <label>Post</label>{post}-{/}</span></div>
        <div class="form-group"><span title="website"><i class="fa fa-globe fa-lg">&nbsp;</i>
            <label>Website</label>{website}-{/}</span></div>
        <div class="form-group"><span title="address"><i class="fa fa-map-marker fa-lg">&nbsp;</i>
            <label>Address</label>{address}not found{/}<br/>
            <label>Country: </label>
            <div>{$country}{country_id}not found{/}<br/></div>
            <label>State: </label>
            <div>{$state}{state_id}not found{/}<br/></div>
            <label>City: </label>
            <div>{city}not found{/}<br/></div>
            <label>Pin Code: </label>
            <div>{pin_code}not found{/}</div></span></div>
      </div>
      <h2>IM Numbers</h2>
      <div class="profile-details">
         
        {IMs}
        <div><span title="Skype"><i class="fa fa-skype">&nbsp;<a href="wwww.xavoc.com" target="_blank"> </a></i></span></div>
        <div><span title="Whatsup"><i class="fa fa-whatsapp fa-phone">&nbsp;<a href="9090909090" target="_blank"> </a></i></span></div>{/}
      </div>
      <h2>Events</h2>
      <div class="profile-details">
         
        {Events}
        <div><span title="DOB"><i class="fa fa-wish">&nbsp;</i></span>DOB:</div>{/}
      </div>
      <h2>Relationship</h2>
      <div class="profile-details">
         
        {Relations}
        <div><span title="Father"><i class="fa fa-skype">&nbsp;</i></span> </div>{/}
      </div>
    </div>
  </div>
</div>