
<div id="user-profile" class="xepan-contact-profile">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2>{first_name}First Name{/} </h2>
      <h2>{last_name}Last Name{/} </h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="profile-status"><i class="fa fa-circle"></i> Online</div><img alt="" src="{url}img/samples/scarlet-159.png{/}" class="profile-img img-responsive center-block"/>
      <div class="profile-label"><span class="label label-danger">Admin</span></div>
      <div class="profile-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span>Super User</span></div>
      <div class="profile-since">Contact since: Jan 2012</div><hr/>
      <h2>Emails</h2>
      <div class="profile-details">
        {Emails}
        {rows}{row}
        {$header}
        {/}{/}
        {not_found_message}{/}
        {/}
      </div>
      <h2>Phones</h2>
      <div class="profile-details">{Phones}Phone Numbers
        <ul>
          <li><i class="fa-li"></i>9898989898</li>
          <li><i class="fa-li"></i>8559846603 </li>
          <li><i class="fa-li"></i>8956434689</li>
        </ul>{/}
      </div>
      <div class="profile-message-btn center-block text-center">
        <div role="group" class="btn-group btn-group-sm">
          <button type="button" title="send email" class="btn btn-primary"><i class="fa fa-envelope"></i>&nbsp;Email</button>
          <button type="button" title="send message" class="btn btn-success"><i class="fa fa-phone"></i>&nbsp;SMS</button>
        </div>
      </div>
      <div class="profile-details">
        <div class="form-group">
          <label>Organization</label>
          <div><span title="organization"><i class="fa fa-building fa-lg">&nbsp;</i></span>{organization}organization{/}</div>
        </div>
        <div class="form-group">
          <label>Post</label>
          <div><span title="post"><i class="fa fa-user fa-lg">&nbsp;</i></span>{post}post{/}</div>
        </div>
        <div class="form-group">
          <label>Website</label>
          <div><span title="website"><i class="fa fa-globe fa-lg">&nbsp;</i></span>{website}website{/}</div>
        </div>
        <div class="form-group">
          <label>Address</label>
          <div><span title="address"><i class="fa fa-map-marker fa-lg">&nbsp;</i>{address}address{/}<br/>city: {city}not found{/}<br/>state: {state}not found{/}<br/>country: {country}not found{/}<br/>pin code: {pin_code}not found{/}</span></div>
        </div>
      </div>
      <h2>IM Numbers</h2>
      <div class="profile-details">
         
        {IMs}
        <div><span title="Skype"><i class="fa fa-skype">&nbsp;<a href="wwww.xavoc.com" target="_blank">rksinha.btech </a></i></span></div>
        <div><span title="Whatsup"><i class="fa fa-whatsapp fa-phone">&nbsp;<a href="9090909090" target="_blank">8989787656 </a></i></span></div>{/}
      </div>
      <h2>Events</h2>
      <div class="profile-details">
         
        {Events}
        <div><span title="DOB"><i class="fa fa-wish">&nbsp;</i></span>DOB:  225-July-1991         </div>{/}
      </div>
      <h2>Relationship</h2>
      <div class="profile-details">
         
        {Relations}
        <div><span title="Father"><i class="fa fa-skype">&nbsp;</i></span>Father</div>{/}
      </div>
    </div>
  </div>
</div>