{rows}{row}
.email-content-nano-content(style='right: -13px;', tabindex='0')
  ul#email-list
    li.unread.clickable-row(data-href='email-detail.html')
      .chbox
        .checkbox-nice
          input#m-checkbox-1(type='checkbox')
          label(for='m-checkbox-1')
      .star
        a
      .name Mila Kunis
      .message
        span.label.label-success Work
        span.subject Like your new movie -
        span.body Hi beauty, I watched your movies last night.
      .meta-info
        a.attachment(href='#')
          i.fa.fa-paperclip
        span.date 9:34 am
    li.clickable-row(data-href='email-detail.html')
      .chbox
        .checkbox-nice
          input#m-checkbox-2(type='checkbox')
          label(for='m-checkbox-2')
      .star
        a
      .name Robert Downey Jr.
      .message
        span.subject Happy birthday -
        span.body I wish you all the best.
      .meta-info
        a.attachment(href='#')
          i.fa.fa-paperclip
        span.date Sep 14
{/}{/}