{rows}{row}
<div style="right: -13px;" tabindex="0" class="email-content-nano-content">
  <ul id="email-list">
    <li data-href="email-detail.html" class="unread clickable-row">
      <div class="chbox">
        <div class="checkbox-nice">
          <input id="m-checkbox-1" type="checkbox"/>
          <label for="m-checkbox-1"></label>
        </div>
      </div>
      <div class="star"><a></a></div>
      <div class="name">Mila Kunis</div>
      <div class="message"><span class="label label-success">Work</span><span class="subject">Like your new movie -</span><span class="body">Hi beauty, I watched your movies last night.</span></div>
      <div class="meta-info"><a href="#" class="attachment"><i class="fa fa-paperclip"></i></a><span class="date">9:34 am</span></div>
    </li>
    <li data-href="email-detail.html" class="clickable-row">
      <div class="chbox">
        <div class="checkbox-nice">
          <input id="m-checkbox-2" type="checkbox"/>
          <label for="m-checkbox-2"></label>
        </div>
      </div>
      <div class="star"><a></a></div>
      <div class="name">Robert Downey Jr.</div>
      <div class="message"><span class="subject">Happy birthday -</span><span class="body">I wish you all the best.</span></div>
      <div class="meta-info"><a href="#" class="attachment"><i class="fa fa-paperclip"></i></a><span class="date">Sep 14</span></div>
    </li>
  </ul>
</div>{/}{/}