{rows}{row}
li.item.first-item
  a(href='#')
    img(src='img/samples/messages-photo-1.png', alt='')
    span.content
      span.content-headline
        | George Clooney
      span.content-text
        | Look, just because I don't be givin' no man a foot massage don't make it
        | right for Marsellus to throw...
    span.time
      i.fa.fa-clock-o
      | 13 min.
li.item
  a(href='#')
    img(src='img/samples/messages-photo-2.png', alt='')
    span.content
      span.content-headline
        | Emma Watson
      span.content-text
        | Look, just because I don't be givin' no man a foot massage don't make it
        | right for Marsellus to throw...
    span.time
      i.fa.fa-clock-o
      | 13 min.
li.item
  a(href='#')
    img(src='img/samples/messages-photo-3.png', alt='')
    span.content
      span.content-headline
        | Robert Downey Jr.
      span.content-text
        | Look, just because I don't be givin' no man a foot massage don't make it
        | right for Marsellus to throw...
    span.time
      i.fa.fa-clock-o
      | 13 min.
{/}      
li.item-footer
  a(href='#')
    | View all messages