{rows}{row}
<li class="item first-item"><a href="#"><img src="img/samples/messages-photo-1.png" alt=""/><span class="content"><span class="content-headline">George Clooney</span><span class="content-text">
        Look, just because I don't be givin' no man a foot massage don't make it
        right for Marsellus to throw...</span></span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>
<li class="item"><a href="#"><img src="img/samples/messages-photo-2.png" alt=""/><span class="content"><span class="content-headline">Emma Watson</span><span class="content-text">
        Look, just because I don't be givin' no man a foot massage don't make it
        right for Marsellus to throw...</span></span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>
<li class="item"><a href="#"><img src="img/samples/messages-photo-3.png" alt=""/><span class="content"><span class="content-headline">Robert Downey Jr.</span><span class="content-text">
        Look, just because I don't be givin' no man a foot massage don't make it
        right for Marsellus to throw...</span></span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>{/}      
<li class="item-footer"><a href="#">View all messages</a></li>