<a data-toggle="dropdown" class="btn dropdown-toggle"><i class="fa fa-envelope-o"></i><span class="count inter-msg-count">{message_count}{/}</span></a>
<ul class="dropdown-menu notifications-list messages-list dropdown-menu-right">
  <li class="pointer">
    <div class="pointer-inner">
      <div class="arrow"></div>
    </div>
  </li>{rows}{row}
  <li class="item"><a href="#">{avatar}<img src="img/samples/messages-photo-2.png" alt=""/>{/}<span class="content"><span class="content-headline">{name}Emma Watson{/}</span><span class="content-text">
          {title}
          Look, just because I don't be givin' no man a foot massage don't make it
          right for Marsellus to throw...
          {/}</span></span><span class="time"><i class="fa fa-clock-o"></i>{callback_date}13 min.{/}      </span></a></li>{/}{/}
  {$no_record_found}
  <li class="item-footer"><a href="?page=xepan_communication_internalmsg">View all messages</a></li>
</ul>
<style>
  .notifications-list .item a .time{
    background:white none repeat scroll 0 0;
  }
</style>