
<div id="{$_name}" aria-labelledby="{$_name}label" role="dialog" style=" {$style}" class="modal fade model-lg {$_name} {$class}">
  <div role="document" style="z-index:4096" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" type="button" class="close"><span aria-hidden="true">×</span></button>
        <h4 id="{$_name}label" class="modal-title">{title}Untitle{/}</h4>
      </div>
      <div class="modal-body">{$Content}</div>
      <div class="modal-footer">
        {footer}
        {$close_button}
        {$save_button}
        {/}
      </div>
    </div>
  </div>
</div>