{rows}{row}
<li class="item"><a href="#"><i class="fa fa-comment"></i><span class="content">New comment on ‘Awesome P...</span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>
<li class="item"><a href="#"><i class="fa fa-plus"></i><span class="content">New user registration</span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>
<li class="item"><a href="#"><i class="fa fa-envelope"></i><span class="content">New Message from George</span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>
<li class="item"><a href="#"><i class="fa fa-shopping-cart"></i><span class="content">New purchase</span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>
<li class="item"><a href="#"><i class="fa fa-eye"></i><span class="content">New order</span><span class="time"><i class="fa fa-clock-o"></i>13 min.</span></a></li>{/}{/}              
<li class="item-footer"><a href="#">View all notifications</a></li>