.jumbotron.well.text-center 
  .row Some preferred text here 
.container(style='margin-top:40px')
  .row
    .col-sm-6.col-md-3.col-md-offset-4
      .panel.panel-default
        .panel-heading
          strong  Registration to continue
        .panel-body
          form(role='form', action='#', method='POST')
            fieldset
              //- .row
              //-   .text-center
              //-     img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', alt='')
              .row.xepan-push
                .col-sm-12.col-md-10.col-md-offset-1
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      .atk-form-row.atk-form-field.xepan-form-field{$first_name}    
                      //- input(placeholder='Username', name='loginname', type='text', autofocus='')
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      .atk-form-row.atk-form-field.xepan-form-field{$last_name}    
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-envelope
                      .atk-form-row.atk-form-field.xepan-form-field{$email_id}
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-lock
                      .atk-form-row.atk-form-field.xepan-form-field{$password}
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-lock
                      .atk-form-row.atk-form-field.xepan-form-field{$retype_password}        
                      //- input.form-control(placeholder='Password', name='password', type='password', value='')
                  //- .form-group
                  //-   input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign in')
              .row.xepan-push-large
                .col-xs-12
                  button.btn.btn-success.col-xs-12(type='submit') Register
              
        .panel-footer
          | Don't have an account! 
          a.back-login(href="index.php")  Back To Login 
           #login-box-footer