
<div id="{$_name}">{person_info}
  <div itemscope="" itemtype="http://schema.org/Person"><a itemprop="url" href="xepan">
      <div itemprop="name"><strong>{company_owner}xEpan{/}</strong></div></a>
    <div itemscope="" itemtype="http://schema.org/Organization"><span itemprop="name">{company_name}Xavoc Technocrats{/}</span></div>
    <div itemprop="jobtitle">{posts}Director{/}</div>
    <div itemprop="description">{description}test{/}</div>
    <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
      <div itemprop="streetAddress">{company_address}18/436, Gaytri marg, Kanji ka hata, Inside Surajpol{/}</div>
      <div>P.O. Box: <span itemprop="postOfficeBoxNumber">{po_box_no}123456{/}</span></div>
      <div><span itemprop="addressLocality">{city}Udaipur{/}</span>, <span itemprop="addressRegion">{state}Rajasthan{/}</span></div>
      <div itemprop="postalCode">{company_pin_code}313001{/}</div>
      <div itemprop="addressCountry">{country}India{/}</div>
    </div>
    <div itemprop="email">{company_email}info@epan.in{/}</div>
    <div itemprop="telephone">{mobile_no}9783807100{/}</div>
    <div>
      <meta itemprop="birthDate" content="2016-06-30"/>DOB: {date_of_birth}06/30/2016{/}
    </div>
  </div>
  <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type" : {
    	"Person",
    "name" : "[{name}person's name{/}]",
    "image" : "[{image_url}image url of person{/}]",
    "jobTitle": "[{posts}job tile{/}]",
    "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "[{address}Address{/}]"
    "postalCode" : "[{pin_code}postal code{/}]"
    "addressLocality" : "[{city}City{/}]"
    "addressRegion" : "[{state}State{/}]"
    "addressCountry" : "[{country}Country{/}]"
    },
    "telephone" : "[{phone_no}telephone number{/}]",
    "email" : "[{email_id}email address{/}]",
    "description" : "[{description}email address{/}]",
  </script>}{/}
</div>