.main-box.clearfix(class="{$class} ")
  header.main-box-header.clearfix
    .name {$addon}
  .main-box-body.clearfix
    table.table-hover.footable(style="width:100%;")
      thead.xepan-hover-hand
          th.text-primary
              span &nbsp;&nbsp;&nbsp;{$title} 
      tbody
          tr
              td
                .xepan-push
                .col-md-9
                  span.text-muted &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$message}
                .col-md-2(style="margin-bottom:10px;")
                    {$action_spot}
                .col-md-1
                  a.fa.fa-question-circle-o(href="{$url}")