table.table-hover.footable.panel.panel-default.panel-body(style="width:100%;")
    {header}
    thead.xepan-hover-hand
        th.text-center.text-primary
            span {$title} 
    tbody
        tr
            td
              .col-md-9
                span.text-muted {$message}
              .col-md-2(style="margin-bottom:10px;")
                  {$action_spot}
              .col-md-1  
                  a.fa.fa-question(href="{$url}")