
<div class="main-box clearfix {$class} ">
  <header class="main-box-header clearfix">
    <div class="name">{$addon}</div>
  </header>
  <div class="main-box-body clearfix">
    <table style="width:100%;" class="table-hover footable">
      <thead class="xepan-hover-hand">
        <th class="text-primary"><span>&nbsp;&nbsp;&nbsp;{$title} </span></th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="xepan-push"></div>
            <div class="col-md-9"><span class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$message}</span></div>
            <div style="margin-bottom:10px;" class="col-md-2">{$action_spot}</div>
            <div class="col-md-1"> <a href="{$url}" class="fa fa-question"></a></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>