table.table.user-list.table-hover.footable.toggle-circle-filled(style="width:100%")
    {header}
    thead.xepan-hover-hand
        th
            span {$title} 
    tbody
        tr
            td
              span {$message}
              a.fa.fa-question.pull-right(href="{$url}")
              {$action_spot}