//- .reset-password-wrapper(id="{$_name}")
//-   .container(style="width:80%")
//-     {$Content}
//-     .row
//-       .col-xs-12
//-         #login-box
//-           #login-box-holder
//-             .row
//-               .col-xs-12
//-                 header#login-header
//-                   #login-logo
//-                     img(alt='', src='img/logo3.png')
//-                 #login-box-inner.with-heading
//-                   h4 Forgot your password?
//-                   p
//-                     | Enter your email address to recover your password.
//-                   form(action='http://cube.adbee.technology/index.html', role='form')
//-                     .input-group.reset-pass-input
//-                       span.input-group-addon
//-                         i.fa.fa-user
//-                       .form-control.atk-form-row.atk-form-field(style=" background-clip:padding-box;border-color: #e7ebee !important;border-radius: 3px !important;border: 1px solid #ccc !important;box-shadow: none;font-size: 13px;"){$email}
//-                     .row
//-                       .col-xs-12
//-                         button.btn.btn-success.col-xs-12(type='submit') Send E-Mail
//-                       .col-xs-12
//-                         br
//-                         a#login-forget-link.forgot-link.col-xs-12.back-login Back to login

.container(style='margin-top:40px')
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-heading
          strong  Send  Email to continue
        .panel-body
          form(role='form', action='#', method='POST')
            fieldset
              .row
                .text-center
                  img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', alt='')
              .row
                .col-sm-12.col-md-10.col-md-offset-1
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      {$email}    
                      //- input(placeholder='Username', name='loginname', type='text', autofocus='')
              .row
                .col-xs-12
                  button.btn.btn-success.col-xs-12(type='submit') Send E-Mail
        .panel-footer
          | Don't have an account! 
          a.forgot-link.back-login Back to login
           #login-box-footer                        
