.main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab-user') User Managment 
          li
            a(data-toggle='tab', href='#tab-emails') Emails
          li
            a(data-toggle='tab', href='#tab-general_setting') Emails Setting
          //- li
          //-   a(data-toggle='tab', href='#tab-chat') Personal
        .tab-content
          //- #tab-user.tab-pane.fade.in.active 
          //-   {$usermanagment}
          #tab-general_setting.tab-pane.fade.in.active
            {general_setting}Please Save Basic Information First{/}
           #tab-emails.tab-pane.fade
            {$email}
          //- #tab-chat.tab-pane.fade
          //-   {$personal_info}                       