
<div class="main-box clearfix">
  <div class="tabs-wrapper profile-tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-user">User Managment </a></li>
      <li><a data-toggle="tab" href="#tab-emails">Emails</a></li>
      <li><a data-toggle="tab" href="#tab-general_setting">Emails Setting</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-general_setting" class="tab-pane fade in active">{general_setting}Please Save Basic Information First{/}</div>
      <div id="tab-emails" class="tab-pane fade">{$email}</div>
    </div>
  </div>
</div>