.main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab-general_setting') Emails Setting
          li
            a(data-toggle='tab', href='#tab-emails') Emails
          //- li
          //-   a(data-toggle='tab', href='#tab-documents') 
          //- li
          //-   a(data-toggle='tab', href='#tab-chat') Personal
        .tab-content
          #tab-general_setting.tab-pane.fade.in.active
            {general_setting}Please Save Basic Information First{/}
           #tab-emails.tab-pane.fade
            {$email}
          //- #tab-documents.tab-pane.clearfix.fade
          //-   {$document_view}
          //- #tab-chat.tab-pane.fade
          //-   {$personal_info}                       