
<div class="panel panel-success"> 
  <div class="panel-heading">Email Transport</div>
  <div class="panel-body"> 
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-4">{$email_transport}<small style="width:100%" class="pull-left">Email Transport</small></div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Connection Settings:</div>
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-1">{$encryption}<small class="pull-left">Encryption</small></div>
        <div class="col-md-3">{$email_host}<small class="pull-left">Email Host</small></div>
        <div class="col-md-2">{$email_port}<small class="pull-left">Email Port</small></div>
        <div class="col-md-3">{$email_username}<small class="pull-left">Email User Name</small></div>
        <div class="col-md-3">{$email_password}<small class="pull-left">Email Password</small></div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Email Reply To Setting:</div>
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6">{$email_reply_to}<small style=" width:100%" class="pull-left">Email Reply To</small></div>
        <div class="col-md-6">{$email_reply_to_name}<small style=" width:100%" class="pull-left">Email Reply To Name</small></div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Email From : Sender Setting:</div>
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3">{$from_email}<small class="pull-left">From Email</small></div>
        <div class="col-md-3">{$from_name}<small class="pull-left">From Name</small></div>
        <div class="col-md-3">{$sender_email}<small class="pull-left">Sender Email</small></div>
        <div class="col-md-3">{$sender_name}<small class="pull-left">Sender Name</small></div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">IMAP / POP3  Setting:</div>
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3">{$imap_email_host}<small class="pull-left">Email Host</small></div>
        <div class="col-md-1">{$imap_email_port}<small class="pull-left">Email Port</small></div>
        <div class="col-md-3">{$imap_email_username}<small class="pull-left">Email User Name</small></div>
        <div class="col-md-3">{$imap_email_password}<small class="pull-left">Email Password</small></div>
        <div class="col-md-2">{$imap_flags}<small class="pull-left">Flags</small></div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading"> Email Throtelling Settings:</div>
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-4">{$smtp_auto_reconnect}<small class="pull-left">SMTP Auto Re Connect</small></div>
        <div class="col-md-4">{$email_threshold}<small class="pull-left">Email Threshold</small></div>
        <div class="col-md-4">{$emails_in_BCC}<small class="pull-left">Email BCC</small></div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Return Path / Bounce IMAP Settings:</div>
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3">{$bounce_imap_email_host}<small class="pull-left">Email Host</small></div>
        <div class="col-md-1">{$bounce_imap_email_port}<small class="pull-left">Email Port</small></div>
        <div class="col-md-3">{$return_path}<small class="pull-left">Email User Name</small></div>
        <div class="col-md-3">{$bounce_imap_email_password}<small class="pull-left">Email Password</small></div>
        <div class="col-lg-2">{$bounce_imap_flags}<small class="pull-left">Flags</small></div>
      </div>
    </div>
    <div class="pull-right">{$FormButtons}				</div>
  </div>
</div>