.ui.segment(id="{$_name}" class="{$class}")
    {Pannel}
    .ui.stackable.equal.width.grid(class=" {$class} ")
        .column {$grid_buttons}
        .right.aligned.column
            {$quick_search}
            i.search.icon
    {/Pannel}
    table.ui.striped.table
        {header}
        thead.xepan-hover-hand
            tr
                {cols}
                th(id="{$username_sortid}")
                  span User 
                  span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$username_sort}
                th(id="{$related_contact_sortid}" data-hide="phone")
                  span Related Contact 
                  span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$related_contact_sort}
                th 
                th
                {/}    
        {/}
        {$subheader}

        tbody
            {rows}{row}
            tr(class="{$odd_even}" data-id="{$id}")
                {cols}
                td
                    h5.ui.image.header
                        {avatar}
                        img(alt='', src='{image}img/samples/scarlet-159.png{/}')
                        {/}
                        div.content
                            {username}Scarlett Johansson{/}
                            div.sub.header
                                {scope}Admin{/} 
                td 
                   |{$related_contact}
                   br
                   small {$related_contact_type} 
                td
                    {action}Inactive{/}
                td(style="width: 15%;")
                    {$edit}
                    {$delete}
                    {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

        {totals}
        tfoot
            tr(class="totals")
                {cols}{col}
                <td {$tdparam}>
                {$content}
                </td>
                {/}{/}
        {/}
        {$Paginator}
