
<div id="{$_name}" class="ui segment {$class}">{Pannel}
  <div class="ui stackable equal width grid  {$class} ">
    <div class="column">{$grid_buttons}</div>
    <div class="right aligned column">{$quick_search}<i class="search icon"></i></div>
  </div>{/Pannel}
  <table class="ui striped table">{header}
    <thead class="xepan-hover-hand">
      <tr>{cols}
        <th id="{$username_sortid}"><span>User </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$username_sort}</span></th>
        <th id="{$related_contact_sortid}" data-hide="phone"><span>Related Contact </span><span style="cursor:pointer; cursor: hand; max-width:600px;">{$related_contact_sort}</span></th>
        <th> </th>
        <th></th>{/}    
      </tr>
    </thead>{/}
    {$subheader}
    <tbody>{rows}{row}
      <tr data-id="{$id}" class="{$odd_even}">{cols}
        <td>
          <h5 class="ui image header">{avatar}<img alt="" src="{image}img/samples/scarlet-159.png{/}"/>{/}
            <div class="content">{username}Scarlett Johansson{/}
              <div class="sub header">{scope}Admin{/} </div>
            </div>
          </h5>
        </td>
        <td>
           
          {$related_contact}<br/><small>{$related_contact_type} </small>
        </td>
        <td>{action}Inactive{/}</td>
        <td style="width: 15%;">
          {$edit}
          {$delete}
          {/}
        </td>
      </tr>{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
    </tbody>{totals}
    <tfoot>
      <tr class="totals">
        {cols}{col}
        <td {$tdparam}>
        {$content}
        </td>
        {/}{/}
      </tr>
    </tfoot>{/}
    {$Paginator}
  </table>
</div>