div(id='{$_name}', style='{$style}', class='{$class}')
  i.xepan-location-tool.glyphicon.glyphicon-map-marker.text-primary(title="select your location" type='button', data-toggle='modal', data-target='\#{$_name}_location_model', style='cursor:pointer; cursor: hand;') {$country_name} {$state_name}
  .modal.fade(id='{$_name}_location_model', tabindex='-1', role='dialog', aria-labelledby='{$_name}_model_label')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title(id='{$_name}_model_label') Select your location
        .modal-body
          .container.xepan-select-your-location-form(style='width:80%')
            | {form_layout}
            .form-group
              label Country
              .atk-form-row {$country}
            .form-group
              label State
              .atk-form-row {$state}
            | {/}
          | {$Content}
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          | {$save_button}
  style.
    .xepan-select-your-location-form select{
    width:100%;
    }
  |   {location_fetcher_wrapper}
  //- script.
  //-   // calling location detector and save to session
  //-   $(document).ready(function(){
  //-   // first check browser support the navigator or not
  //-   if (navigator.geolocation) {
  //-   navigator.geolocation.getCurrentPosition(
  //-   function(position){
  //-   // success function
  //-   console.log("Latitude: " + position.coords.latitude);
  //-   console.log("Longitude: " + position.coords.longitude);
  //-   // console.log(self);
  //-   },
  //-   function(error){
  //-   //failed function
  //-   switch(error.code) {
  //-   case error.PERMISSION_DENIED:
  //-   console.log("User denied the request for Geolocation.");
  //-   break;
  //-   case error.POSITION_UNAVAILABLE:
  //-   console.log("Location information is unavailable.");
  //-   break;
  //-   case error.TIMEOUT:
  //-   console.log("The request to get user location timed out.");
  //-   break;
  //-   case error.UNKNOWN_ERROR:
  //-   console.log("An unknown error occurred.");
  //-   break;
  //-   }
  //-   });
  //-   }else {
  //-   alert("Geolocation is not supported by this browser");
  //-   console.log("Geolocation is not supported by this browser");
  //-   }
  //-   });
  |   {/}
