|Hi {$username},
br
|Your password has been successfully updated.
br
|If you are not the person who changed the password, please report it
br
|to superuser/authority and makesure to reset your password again.
br
span Note: 
	b Don't share your password	with anybody.
br	 
|Greetings!
br 	