.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/base/Tool_UserPanel')
	h3 User Panel Options
	.xepan-tool-option
		.xepan-tool-option-title Layout
		.xepan-tool-option-value 
			select#user-panel-logo
				option Micro
				option Mini
				option Standard
				option Full
	script.
		$('#user-panel-logo').on('change',function(){
			$(current_selected_component).css('border','2px solid red');
		});

		$('\#{$_name}').on('show',function(event){
			console.log('Loading From '+ $(current_selected_component).attr('xepan-component'));
		})