//- .jumbotron.well.text-center 
//-   .row Some preferred text here 
.container(style='margin-top:100px')
  .row
    .col-sm-6.col-md-3.col-md-offset-4
      .panel.panel-default
        .panel-heading
          strong  Send  Email to continue
        .panel-body
          form(role='form', action='#', method='POST')
            fieldset
              .row
                .text-center
                  img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', alt='')
              .row.xepan-push
                .col-sm-12.col-md-10.col-md-offset-1
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      .atk-form-row.atk-form-field.xepan-form-field{$email}    
                      //- input(placeholder='Username', name='loginname', type='text', autofocus='')
              .row.xepan-push-large
                .col-xs-12
                  button.btn.btn-success.col-xs-12(type='submit') Send E-Mail
        .panel-footer
          | Don't have an account! 
          a.forgot-link.back-login.xepan-login-panl-loadview(href="index.php" data-showview="login_view") Back to login
           #login-box-footer                        
