#login-full-wrapper 
  .container
    .row
      .col-xs-12
        #login-box
          #login-box-holder
            .row
              .col-sm-12.col-md-12
                .panel.panel-default
                  .row
                    .col-xs-12
                      header#login-header
                        #login-logo
                          img(src='img/logo.png', alt='' style="width:100px; height:65px;")
                          p(style="font-size:22px")|{$company_name}
                      //- strong  Forgot Password
                      #login-box-inner.panel-body(style="padding-top:0px !important;")
                        form(role='form', action='#', method='POST')
                          {$success_message}
                          fieldset
                            .row.xepan-push
                              .col-sm-12.col-md-12
                                h2.text-muted(style="padding:0px;")  Forgot Password
                              .col-sm-12.col-md-12.atk-form-row.atk-form-field
                                small.text-muted|Don't worry, just fill in your email and we'll help you reset your password.
                                .form-group(style="margin-top:10px")
                                  .input-group
                                    span.input-group-addon
                                      i.fa.fa-envelope
                                    .xepan-form-field{$email}    
                                    //- input(placeholder='Username', name='loginname', type='text', autofocus='')
                            .row.xepan-push-large
                              .col-xs-12
                                button.btn.btn-success.col-xs-12(type='submit') Send Email
                      .panel-footer.text-right(style="margin-top: -6px")
                        //- | Don't have an account! 
                        a.forgot-link.back-login.xepan-login-panl-loadview(href="index.php" data-showview="login_view") Back to login
                       //- #login-box-footer   
  style.
    .xepan-form-field{
      line-height:41px;
      margin-left:-2px;
    }    
    #login-box{
      border-radius:6px 6px 0 0;
    }                                      
