#login-full-wrapper 
  .container(style="margin-top:100px")
    .row
      .col-xs-12
        #login-box
          #login-box-holder
            .row
              .col-sm-12.col-md-12
                .jumbotron.well.text-center(style = "background: #eea849;") 
                  .row Enter your new password and click on login button
                .panel.panel-default
                  .panel-heading.text-center
                    strong Reset Password
                  .panel-body(style="margin-top:30px;margin-bottom:30px;")
                    form(role='form', action='#', method='POST')
                      fieldset
                        .row(style = "padding-bottom:20px;")
                          .col-sm-12.col-md-12
                            .form-group
                              .input-group
                                span.input-group-addon
                                  i.glyphicon.glyphicon-user
                                .atk-form-row.atk-form-field.xepan-form-field{$email}
                            .form-group    
                              .input-group  
                                span.input-group-addon
                                  i.glyphicon.glyphicon-lock
                                .atk-form-row.atk-form-field.xepan-form-field{$secret_code}
                            .form-group    
                              .input-group  
                                span.input-group-addon
                                  i.glyphicon.glyphicon-lock
                                .atk-form-row.atk-form-field.xepan-form-field{$password}
                            .form-group    
                              .input-group 
                                span.input-group-addon
                                  i.glyphicon.glyphicon-lock
                                .atk-form-row.atk-form-field.xepan-form-field{$retype_password}
                        .row
                          .col-xs-12
                            button.btn.btn-success.col-xs-12(type='submit') Update Password  
                  .panel-footer