#login-full-wrapper
  .container
    .row
      .col-xs-12
        #login-box
          #login-box-holder
            .row
              .col-sm-12.col-md-12
                //- .jumbotron.well.text-center(style = "background: #eea849;") 
                //-   .row Enter your new password and click on login button
                .panel.panel-default
                  .row
                    .col-xs-12
                      header#login-header
                        #login-logo
                          img(src='img/logo.png', alt='' style="width:100px; height:60px;")
                          p(style="font-size:22px")|{$company_name}  
                  .panel-body(style="margin-bottom:30px;")
                    form(role='form', action='#', method='POST')
                      fieldset
                        .row(style = "padding-bottom:20px;")
                          .col-sm-12.col-md-12
                            h2(style="padding:0px!important").text-muted  Reset Password
                            .form-group.atk-form-row.atk-form-field
                              .input-group
                                span.input-group-addon
                                  i.glyphicon.glyphicon-user
                                .xepan-form-field{$email}
                            .form-group.atk-form-row.atk-form-field    
                              .input-group  
                                span.input-group-addon
                                  i.glyphicon.glyphicon-lock
                                .xepan-form-field{$secret_code}
                            .form-group.atk-form-row.atk-form-field    
                              .input-group  
                                span.input-group-addon
                                  i.glyphicon.glyphicon-lock
                                .xepan-form-field{$password}
                            .form-group.atk-form-row.atk-form-field    
                              .input-group 
                                span.input-group-addon
                                  i.glyphicon.glyphicon-lock
                                .xepan-form-field{$retype_password}
                        .row
                          .col-xs-12
                            button.btn.btn-success.col-xs-12(type='submit') Update Password  
                  //- .panel-footer
  style.
    .xepan-form-field{
      line-height:30px;
      margin-left:-2px;
    }    
    #login-box{
      border-radius:6px 6px 0 0;
    }                   