.jumbotron.well.text-center 
  .row Some preferred text here 
.panel.panel-default
  .panel-heading
    strong  Sign in to continue
  .panel-body
    form(role='form', action='#', method='POST')
      fieldset
        .row
          .text-center
            img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', alt='')
        .row
          .col-sm-12.col-md-10.col-md-offset-1
            .form-group
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                .atk-form-row.atk-form-field{$username}    
                //- input(placeholder='Username', name='loginname', type='text', autofocus='')
            .form-group
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-lock
                .atk-form-row.atk-form-field{$password}    
                //- input.form-control(placeholder='Password', name='password', type='password', value='')
            //- .form-group
            //-   input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign in')
        #remember-me-wrapper
              .row
                .col-xs-6
                  .checkbox-nice
                    input#remember-me(type='checkbox', checked='checked')
                    label(for='remember-me')
                      | Remember me
                      //- href='?page=forgotpassword.html'
                a#login-forget-link.xepan-login-panl-loadview.col-xs-6.forgotpassword(data-showview="forget_password")
                  | Forgot password?
        .row
          .col-xs-12
            button.btn.btn-success.col-xs-12(type='submit') Login
        .row
          .col-xs-12
            p.social-text Or login with
        .row
          .col-xs-12.col-sm-6
            button.btn.btn-primary.col-xs-12.btn-facebook(type='submit')
              i.fa.fa-facebook
              |  facebook
          .col-xs-12.col-sm-6
            button.btn.btn-primary.col-xs-12.btn-twitter(type='submit')
              i.fa.fa-twitter
              |  Twitter    

  .panel-footer
    | Don't have an account! 
    a.reg_view.xepan-login-panl-loadview(data-showview="new_registration")  Register now 
     #login-box-footer