{login_wrapper}
a(href="{$login_url}" style= "cursor:pointer; cursor: hand; max-width:600px;") Login
{/}

{logout_wrapper}
.small Welcome {$username}
a(href="{$logout_url}" style= "cursor:pointer; cursor: hand; max-width:600px;") logout
{/}