.panel.panel-default(id="{$_name}")
  .panel-heading.text-center
    strong  Enter email and click on send
  .panel-body(style="margin-top:30px;margin-bottom:30px;")
    form(role='form', action='#', method='POST')
      fieldset
        .row(style="padding-bottom:20px;")
          .col-sm-12.col-md-12
            .form-group.atk-form-row
              .input-group
                span.input-group-addon
                  i.fa.fa-envelope
                .xepan-form-field{$email}    
        .row
          .col-xs-12
            button.btn.btn-success.col-xs-12(type='submit') Send E-Mail
  .panel-footer.text-center
    {login_wrapper}
    a.forgot-link.back-login.xepan-login-panl-loadview(style='cursor:pointer; cursor: hand;', data-showview="login_view") Back to login
     #login-box-footer
    {/}  
style.
    #{$_name} input{
      width:100%;
    }