.jumbotron.well.text-center(id="{$_name}" style = "background: #eea849;") 
  .row Enter your new password and click on reset button
.panel.panel-default
  .panel-heading.text-center
    strong Sign in to continue
  .panel-body(style="margin-top:30px;margin-bottom:30px;")
    form(role='form', action='#', method='POST')
      fieldset
        .row(style = "padding-bottom:20px;")
          .col-sm-12.col-md-12
            .form-group.atk-form-row
              .input-group
                span.input-group-addon
                  i.fa.fa-envelope
                {$email}
            .form-group.atk-form-row
              .input-group
                span.input-group-addon
                  i.fa.fa-lock
                {$secret_code}
            .form-group.atk-form-row
              .input-group
                span.input-group-addon
                  i.fa.fa-key
                {$password}
            .form-group.atk-form-row
              .input-group
                span.input-group-addon
                  i.fa.fa-key
                {$retype_password}
        .row
          .col-xs-12
            button.btn.btn-success.col-xs-12(type='submit') Reset  
  .panel-footer.row(style="margin:auto")
    {forgot_wrapper}
    a#login-forget-link.forgotpassword.xepan-login-panl-loadview.pull-left(style= "cursor:pointer; cursor: hand; max-width:600px;" data-showview="forget_password") Forgot password
    {/}
    {register_wrapper}
    a.text-center.col-xs-5.reg_view.xepan-login-panl-loadview(style= "cursor:pointer; cursor: hand; max-width:600px;" data-showview="new_registration")  Register now 
    {/}
    {activate_wrapper}
    a.reg_view.xepan-login-panl-loadview.pull-right(style= "cursor:pointer; cursor: hand; max-width:600px;" data-showview="verify_account")  Activate 
     #login-box-footer 
    {/} 
style.
    #{$_name} input{
      width:100%;
    }     