li(class="dropdown profile-dropdown {$class}")
	a.dropdown-toggle(href='#', data-toggle='dropdown')
		//- img(src='img/samples/scarlet-159.png', alt='')
		.hidden-xs|{Content}New Item {/}
			span
			b.caret
		b.caret
	ul.dropdown-menu.dropdown-menu-right{$SubMenu}