
<div class="column">
  <h4 class="header"><img src="img/logo.png" alt="" style="width:100px; height:65px;" class="ui image"/>{$company_name}</h4>
  <div class="section">
    {Content}
    {form_layout}
    <div class="input-group"><i class="glyphicon glyphicon-user"></i>
      <div class="atk-form-row atk-form-field">{$username}</div>
    </div>
    <div class="input-group"><i class="glyphicon glyphicon-lock"></i>
      <div class="atk-form-row atk-form-field">{$password}</div>
    </div>
    <div id="remember-me-wrapper">
      <div class="row">
        <div class="col-xs-6">
          <div class="checkbox-nice">{$memorize}</div>
        </div><a id="login-forget-link" href="?page=xepan_base_forgotpassword" class="col-xs-6">Forgot password?</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success col-xs-12">Login</button>
      </div>
    </div>{/}
    {/}
  </div>
</div>
<div class="section"><span style="color:black;">Powered by  <a href="http://www.xavoc.com" target="_blank" style="color:#03A9A4">Xavoc Technocrats Pvt. Ltd.</a></span></div>