
<div id="login-full-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="login-box">
          <div id="login-box-holder">
            <div class="row">
              <div class="col-xs-12">
                <header id="login-header">
                  <div id="login-logo"><img src="img/logo.png" alt=""/>
                    <p style="font-size:22px">{$company_name}</p>
                  </div>
                </header>
                <div id="login-box-inner">
                  {Content}
                  {form_layout}
                  <div class="input-group"><i class="glyphicon glyphicon-user"></i>
                    <div class="atk-form-row atk-form-field">{$username}</div>
                  </div>
                  <div class="input-group"><i class="glyphicon glyphicon-lock"></i>
                    <div class="atk-form-row atk-form-field">{$password}</div>
                  </div>
                  <div id="remember-me-wrapper">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="checkbox-nice">{$memorize}</div>
                      </div><a id="login-forget-link" href="?page=xepan_base_forgotpassword" class="col-xs-6">Forgot password?</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <button type="submit" class="btn btn-success col-xs-12">Login</button>
                    </div>
                  </div>{/}
                  {/}
                </div>
                <div id="login-box-footer" style="margin-top: -6px" class="panel-footer text-right"><span style="color:black;">Powered by  <a href="http://www.xavoc.com" target="_blank" style="color:#03A9A4">Xavoc Technocrats Pvt. Ltd.</a></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .input-group{
    width:100%;
  }
</style>