
<div id="login-full-wrapper" class="reset-password-wrapper">
  <div class="container">{$Content}
    <div class="row">
      <div class="col-xs-12">
        <div id="login-box">
          <div id="login-box-holder">
            <div class="row">
              <div class="col-xs-12">
                <header id="login-header">
                  <div id="login-logo"><img alt="" src="img/logo3.png"/></div>
                </header>
                <div id="login-box-inner" class="with-heading">
                  <h4>Forgot your password?</h4>
                  <p>Enter your email address to recover your password.</p>
                  <form action="http://cube.adbee.technology/index.html" role="form">
                    <div class="input-group reset-pass-input"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <div style=" background-clip:padding-box;border-color: #e7ebee !important;border-radius: 3px !important;border: 1px solid #ccc !important;box-shadow: none;font-size: 13px;" class="form-control atk-form-row atk-form-field">{$email}</div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="submit" class="btn btn-success col-xs-12">Send E-Mail</button>
                      </div>
                      <div class="col-xs-12"><br/><a id="login-forget-link" href="?page=index" class="forgot-link col-xs-12">Back to login</a></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>