#login-full-wrapper.reset-password-wrapper
  .container
    {$Content}
    .row
      .col-xs-12
        #login-box
          #login-box-holder
            .row
              .col-xs-12
                header#login-header
                  #login-logo
                    img(alt='', src='img/logo3.png')
                #login-box-inner.with-heading
                  h4 Forgot your password?
                  p
                    | Enter your email address to recover your password.
                  form(action='http://cube.adbee.technology/index.html', role='form')
                    .input-group.reset-pass-input
                      span.input-group-addon
                        i.fa.fa-user
                      .form-control.atk-form-row.atk-form-field(style=" background-clip:padding-box;border-color: #e7ebee !important;border-radius: 3px !important;border: 1px solid #ccc !important;box-shadow: none;font-size: 13px;"){$email}
                    .row
                      .col-xs-12
                        button.btn.btn-success.col-xs-12(type='submit') Send E-Mail
                      .col-xs-12
                        br
                        a#login-forget-link.forgot-link.col-xs-12(href='?page=index') Back to login
