.column
  h4.header
    img.ui.image(src='img/logo.png', alt='' style="width:100px; height:65px;")
    {$company_name}
  .section
    {Content}
    {form_layout}
    .input-group
      i.glyphicon.glyphicon-user
      .atk-form-row.atk-form-field{$username}
    .input-group
      i.glyphicon.glyphicon-lock
      .atk-form-row.atk-form-field{$password}
    #remember-me-wrapper
      .row
        .col-xs-6
          .checkbox-nice
            {$memorize}
        a#login-forget-link.col-xs-6(href='?page=xepan_base_forgotpassword')
          | Forgot password?
    .row
      .col-xs-12
        button.btn.btn-success.col-xs-12(type='submit') Login
    {/}
    {/}
.section
        span(style="color:black;")| Powered by  
          a(href='http://www.xavoc.com' target="_blank" style="color:#03A9A4")
            | Xavoc Technocrats Pvt. Ltd.